


<div class="row">

  <div class="col-sm-6 col-sm-offset-3">

    <center><h3 >Welcome to Bugzilla</h3></center> <br>
    <div class="panel panel-primary">
      <div class="panel-heading">Login</div>
      <div class="panel-body">


        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>

        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :remember_me, :as => :boolean ,input_html: { value: '1' } if devise_mapping.rememberable?  %>
        <%= f.submit "Login" , class: "btn btn-success" %>


        <br><br>

        <%= render "devise/shared/links" %>

        <% end %>


    </div>
  </div>



</div>

</div>



